<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="box" id="entertitle">
        <h1><span>
                Enter Work title
            </span></h1>
    </div>

    <div class="box">

       
                <form class="item" action="/work" method="post">
                    <input name="newWork" placeholder="Enter your work title" autocomplete="off" type="text">
                    <span><button onlick="addTask()" name="add" type="submit">+</button></span>

                </form>

    </div>





</body>

</html>