<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="./css/styles.css">
    <title>Document</title>
</head>

<body>
    
    <div class="box" id="day">
        <h1><span>
                <%=Day%>
            </span></h1>
    </div>

    <div class="box" id="worktitle">
        <h1><span>
                <%=worktitle%>
            </span></h1>
    </div>


    <div class="box">

        <% for(var i=0;i<newItem.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%=newItem[i]%>
                </p>
            </div>

            <% } %>
                <form class="item" action="/" method="post">
                    <input name="newItem" placeholder="Enter your task" autocomplete="off" type="text">
                    <span><button onlick="addTask()" name="add" type="submit">+</button></span>

                </form>

    </div>





</body>


</html>